<footer>
    <div class="container-fluid footer">
        <div class="container">
            <div class="row">
                <div class="col-lg col-md-4 col-sm-6 col-12 mb-lg-0 mb-3">
                    <span class="footer__title">
                        Company
                    </span>
                    <p class="fz-14 mt-4 pt-2 mb-1">
                      RGC Dyanamics Pvt. Ltd,
                      <br>
                      First Floor,
                      <br>
                      Cyberpark , Calicut-673016
                      <br>
                      Kerala, India
                    </p>
                    <ul class="nav flex-column footer__link mt-0">
                      <li class="nav-item">
                        <a class="nav-link" href="#">
                          <i class="bi bi-telephone me-2"></i>info@rgcdyanamic.com
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">
                          <i class="bi bi-envelope me-2"></i>+91 123456789
                        </a>
                      </li>
                    </ul>
                </div>
                <div class="col-lg col-md-4 col-sm-6 col-12 mb-lg-0 mb-3">
                  <span class="footer__title">
                    Quick Links
                  </span>
                  <ul class="nav flex-column footer__link">
                      <li class="nav-item">
                        <a class="nav-link " href="#">Services</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Company</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Reviews</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " href="#">Blog</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " href="#">Careers</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " href="#">Contact Us</a>
                      </li>
                      
                  </ul>
                </div>
                <div class="col-lg col-md-4 col-sm-6 col-12 mb-lg-0 mb-3">
                  <span class="footer__title">
                    Our Products
                  </span>
                  <ul class="nav flex-column footer__link">
                      <li class="nav-item">
                        <a class="nav-link " href="#">Domain</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Registration</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Web Hosting</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Support</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Pay Online</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Sitemap</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Info</a>
                      </li>
                  </ul>
                </div>
                <div class="col-lg col-md-4 col-sm-6 col-12 mb-lg-0 mb-3">
                  <span class="footer__title">
                    Subsidaries
                  </span>
                  <ul class="nav flex-column footer__link">
                      <li class="nav-item">
                        <a class="nav-link " href="#">Facebook</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Instagram</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">LinkedIn</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Twitter</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Dribble</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Behance</a>
                      </li>
                  </ul>

                </div>
                <div class="col-lg col-md-4 col-sm-6 col-12 mb-lg-0 mb-3">
                  <span class="footer__title">
                    Be Social
                  </span>
                  <ul class="nav flex-column footer__link">
                    <li class="nav-item">
                      <a class="nav-link " href="#">Facebook</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Instagram</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">LinkedIn</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Twitter</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Dribble</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Behance</a>
                    </li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid footer-credits">
        Copyright © RGC Dyanamics Pvt. Ltd. 2021
    </div>
</footer>
