
<section>
    <div class="contaner-fluid system">
        <div class="container d-flex align-items-center min-vh-100">
            <div class="content">
                <h1>
                    Recognized as a Leading 
                    <br>
                    Software Solution Company 
                    <br>
                    in the World
                </h1>
            </div>
            <div class="col d-flex justify-content-center ms-4">
                <img class="shaped-img" src="../../../assets/images/system.svg" alt="">
            </div>
        </div>
    </div>
</section>
