<section #homeHeader>
    <div class="contaner-fluid header">
        <div class="container d-flex align-items-center min-vh-100">
            <div class="content">
                <h1>
                    We Bring Innovative
                    <br>
                    Solutions to Life
                </h1>
                <button class="btn btn-main">
                    Read More
                </button>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="contaner-fluid system">
        <div class="container d-flex align-items-center min-vh-100">
            <div class="content">
                <h1>
                    Self-taught Systems
                    <br>
                    Development
                </h1>
                <button class="btn btn-main">
                    Read More
                </button>
                <h4>
                    We deliver Artificial interlligence (AI) consulting services 
                    and integrated solutions to address real business challenges 
                </h4>
            </div>
            <div class="col d-flex justify-content-center ms-4">
                <img class="shaped-img" src="../../../assets/images/system.svg" alt="">
            </div>
        </div>
    </div>
</section>


<section>
    <div class="contaner-fluid analytics">
        <div class="container d-flex align-items-center justify-content-end min-vh-100">
            <div class="col d-flex justify-content-center me-4">
                <img class="shaped-img" src="../../../assets/images/analytic.svg" alt="">
            </div>
            <div class="content">
                <h1>
                    Using your Analytical 
                    <br>
                    Data to Marketing
                </h1>
                <button class="btn btn-main">
                    Read More
                </button>
                <h4>
                    we are a digital marketing agency exercising the 
                    online marketing influence to build and strengthen 
                    your digital impressions 
                </h4>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="contaner-fluid business">
        <div class="container d-flex align-items-center min-vh-100">
            <div class="content">
                <h1>
                    Transform Your Business 
                    <br>
                    Through Technology 
                </h1>
                <button class="btn btn-main">
                    Read More
                </button>
                <h4>
                    With deep experience in web, mobile, and back-end 
                    platforms, our software solutions are scalable, flexible, 
                    and most importantly, secure 
                </h4>
            </div>
            <div class="col d-flex justify-content-center ms-4">
                <img class="shaped-img" src="../../../assets/images/business.svg" alt="">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid py-4">
        <div class="container">
            <div class="title-section">
                <h4>
                    From Brand to Experience
                </h4>
                <span>
                    We are the whole package
                </span>
            </div>
            <div class="row my-4">
                <div class="col-md-6 p-0">
                    <div class="overlay-card bg-green" style="background-image: url('../../../assets/images/ai.png');">
                        <!-- <img  src="../../../assets/images/ai.png" alt=""> -->
                        <div class="overlay-card__details">
                            <label for="">AI Solutions</label>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry Lorem Ipsum is simply dummy text of the 
                                printing and typesetting industry. Lorem Ipsum has been the industry 
                                Lorem Ipsum is simply dummy 
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quasi tenetur, voluptate natus minima soluta exercitationem a esse nihil quaerat accusamus odit, aut quia eum delectus tempore earum voluptatem molestias?
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-0 d-flex flex-wrap position-relative">
                    <div class="col-6 p-0 brands-card" style="background-image: url('../../../assets/images/avatar-1.png');">
                        
                    </div>
                    <div class="col-6 p-0 brands-card" style="background-image: url('../../../assets/images/avatar-5.png');">
                        
                    </div>
                    <div class="col-6 p-0 brands-card" style="background-image: url('../../../assets/images/Layer 6.png');">
                        
                    </div>
                    <div class="col-6 p-0 brands-card" style="background-image: url('../../../assets/images/avatar-3.png');">
                        
                    </div>
                    <div class="brand-shape" style="background-image: url('../../../assets/shape/shape-1.png');"></div>
                </div>
            </div>
            <div class="row my-5 py-5 align-items-end">
                <div class="col-8 p-0">
                    <p class="m-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum voluptate beatae, impedit voluptates dolor assumenda tempora recusandae? Aperiam quos eveniet optio commodi voluptate? Quisquam totam eos non aliquid sit quidem?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, necessitatibus, voluptatum provident sit laudantium cum sequi ratione assumenda cumque repellat debitis temporibus laborum commodi accusantium. Id dolore cupiditate quaerat voluptatem!
                    </p>
                </div>
                <div class="col text-end">
                    <button class="btn btn-dark">
                    All services
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid position-relative py-3 my-3">
        <div class="extra-white">

        </div>
        <div class="container py-5 z-2 position-relative">
            <div class="row">
                <div class="col-6">
                    <img class="w-90 mx-auto d-block" src="../../../assets/images/men-with-lap.png" alt="">
                </div>
                <div class="col-6">
                    <div class="title-section text-start">
                        <h4>
                            RGC Dynamics
                        </h4>
                        <span>
                            About Us
                        </span>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled 
                            it to make a type specimen book. 
                            It has survived not only five centuries, 
                        </p>
                        <ul class="list-type-circle">
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis at asperiores necessitatibus quibusdam temporibus nobis in ipsa corrupti quos quam, velit aspernatur beatae ullam atque alias voluptatem voluptas itaque?</li>
                            <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem cupiditate itaque repellat aperiam placeat consequuntur numquam aliquam est alias saepe.</li>
                        </ul>
                        <button class="btn btn-dark">
                            MORe info
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid py-5">
        <div class="container mb-5">
            <div class="title-section">
                <h4>
                    Work, Play and Learn
                </h4>
                <span>
                    Career with RGC Dynamics
                </span>
            </div>
            <div class="join-team">
                <div class="join-team__img">
                    <img src="../../../assets/images/businesspeople-standing-outside-office-building.png" alt="">
                </div>
                <div class="join-team__card">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of 
                </div>
            </div>
            <div class="title-section">
                <span>
                    Find opportunities for you
                </span>
                <button class="btn btn-dark d-block mx-auto mt-3">
                    Find now
                </button>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid py-5">
        <div class="container mb-5">
            <div class="title-section">
                <h4>
                    News of the Day
                </h4>
                <span>
                    Blogs
                </span>
            </div>
            <div class="row my-4">
                <div class="col-md-6 p-0">
                    <div class="overlay-card" style="background-image: url('../../../assets/images/news-1.png');">
                        <!-- <img  src="../../../assets/images/ai.png" alt=""> -->
                        <div class="overlay-card__details bg-light-black">
                            <label for="">Importance of UI designing</label>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry Lorem Ipsum is simply dummy text of the 
                                printing and typesetting industry. Lorem Ipsum has been the industry 
                                Lorem Ipsum is simply dummy 
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quasi tenetur, voluptate natus minima soluta exercitationem a esse nihil quaerat accusamus odit, aut quia eum delectus tempore earum voluptatem molestias?
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-0 d-flex flex-wrap position-relative">
                    <div class="col-6 p-0 brands-card" style="background-image: url('../../../assets/images/news-2.png');">
                        
                    </div>
                    <div class="col-6 p-0 brands-card" style="background-image: url('../../../assets/images/news-3.png');">
                        
                    </div>
                    <div class="col-6 p-0 brands-card" style="background-image: url('../../../assets/images/news-4.png');">
                        
                    </div>
                    <div class="col-6 p-0 brands-card" style="background-image: url('../../../assets/images/news-5.png');">
                        
                    </div>
                    <div class="brand-shape" style="background-image: url('../../../assets/shape/shape-1.png');"></div>
                </div>
            </div>
            <div class="row my-5 py-5 align-items-end">
                <div class="col-8 p-0">
                    <p class="m-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum voluptate beatae, impedit voluptates dolor assumenda tempora recusandae? Aperiam quos eveniet optio commodi voluptate? Quisquam totam eos non aliquid sit quidem?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, necessitatibus, voluptatum provident sit laudantium cum sequi ratione assumenda cumque repellat debitis temporibus laborum commodi accusantium. Id dolore cupiditate quaerat voluptatem!
                    </p>
                </div>
                <div class="col text-end">
                    <button class="btn btn-dark">
                    All services
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid py-5">
        <div class="container position-relative my-5 px-0">
            <div class="congrats">
                <h1>
                    We know
                    <br>
                    We will rock you
                </h1>
                <img class="congrats__img" src="../../../assets/images/tumbsup-men.png" alt="">
            </div>
            <div class="congrats-info">
                Not the average website, not the average team
            </div>
        </div>
    </div>
</section>

<section>
    <div class="contaner-fluid project">
        <div class="container d-flex align-items-center justify-content-end min-vh-50">
            <div class="col">
                <button class="btn btn-main">
                    Lorem Ipsum
                </button>
                <button class="btn btn-main">
                    Lorem Ipsum
                </button>
                <button class="btn btn-main">
                    Lorem Ipsum
                </button>
                <button class="btn btn-main">
                    Lorem Ipsum
                </button>
            </div>
            <div class="content">
                <h1>
                    About Your 
                    <br>
                    Next Project
                </h1>
                <button class="btn btn-main">
                    Get in touch
                </button>
            </div>
        </div>
    </div>
</section>